:root{
    --primaryColor:#2196f3;
    --primaryRGBA:rgba(0,0,0,0.3);
    --mainGrey:#fafafa;
    --darkGrey:#5f5e5e;
    --mainWhite:#fff;
    --mainYellow:#fbc02d;
    --mainBlack:#222;
    --mainTransition: all 0.3s ease-in-out;
    --mainSpacing:0.3em;
}
body{
    background-color: var(--mainGrey) !important;
    color:var(--mainBlack)

}
.text-title{
    letter-spacing: var(--mainSpacing);
    text-transform: uppercase;
    font-weight: bold;
}
.text-main{
    color:var(--primaryColor);
}
.main-link{
    padding:0.5rem 1rem;
    background: var(--primaryColor);
    color:var(--mainWhite);
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    outline: 4px solid var(--primaryColor);
    outline-offset: 4px;
    border: none;
    transition: var(--mainTransition);
}
.main-link:hover{
background: var(--darkGrey);
text-decoration: none;
color:var(--primaryColor);
outline-color:var(--darkGrey);
}